@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#966d04;
    --secondary-color:#f4f4f4;
    --font:"Archivo Narrow", sans-serif;
}

body{
    background: url(./img/bg.jpg) no-repeat center center;
    background-size: cover;

    font-family: var(--font);

    backdrop-filter: blur(10px);

    display: flex;
    align-items: start;
    justify-content: center;
}

.container{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}



.container .logo{
    width: 250px;


    margin: 20px 0;
}

.searchGroup{
    width: 700px;
    margin-bottom: 20px;

}

form{
    position: relative;
}

.form-control{
    max-width: 700px;
    width: 100%;
    padding: 20px 100px 20px 20px;

    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 16px;

    border: 0;
    outline: 0;
    border-radius: 20px;


}

.form-control::placeholder{
    font-family: var(--font);
    font-size: 20px;
    color: rgba(244, 244, 244,0.7);
}

form .btn{

    padding: 10px;

    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 600px;

    border: none;
    outline: none;
    border-radius: 40px;
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translate(0,-50%);

    cursor: pointer;

}

.describe, .dataNotFound, .dataBlank{
    width: 30%;
    padding: 10px;

    font-size: 18px;
    border: 2px solid rgba(244, 244, 244,0.7);
    border-radius: 40px;
    background-color: var(--primary-color);
    color: var(--secondary-color);


}

.dataNotFound, .dataBlank{
    display: none;
}

.info, .dataNotFound p, .dataBlank p{
    text-align: center;
}

.display{
    width: 95%;

    padding: 10px 0;

    border: 2px solid rgba(255, 255, 255,0.6);
    border-radius: 20px;
    background-color: var(--primary-color);

    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    animation: app 0.3s linear forwards;

}

.display img{
    width: 180px;
    height: 150px;
    border-radius: 10px;
}

.fullRecipies{
    width: 90%;
    padding: 20px;


    background-color: var(--primary-color);
    border: 2px solid rgba(255, 255, 255,0.6);
    border-radius: 20px;

    display: none;
    align-items: start;
    justify-content: center;
    gap: 20px;



    

}

.fullRecipies .meal{
    animation: app 0.3s linear forwards;
}

.fullRecipies .meal .mealImg{
    width: 400px;
    border-radius: 20px;
}

.fullRecipies .recipiesBox{
    width: 70%;
    
}

.fullRecipies .recipiesBox h2{
    font-size: 30px;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.fullRecipies .recipiesBox p{
    color: var(--secondary-color);
    font-size: 18px;
    text-align: justify;
    line-height: 25px;
}

.ingredientBox{
    width: 30%;
    color: var(--secondary-color);
}

.ingredientBox .ingredientHead{
    margin-bottom: 30px;
}

.ingredientBox .ingredientList{
    margin-left: 30px;
    font-size: 16px;
}



@keyframes app {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}


@media (min-width:1600px){
    .container .logo{
        width: 400px;
    }

    .searchGroup{
        width: 700px;
    }

    .form-control{
        width: 700px;
        margin: 0 auto;
    }
}

@media (max-width:992px){
    .container .logo{
        width: 50%;
    }
    .fullRecipies{
        flex-direction: column;
        margin-bottom: 10px;
    }

    .fullRecipies .recipiesBox{
        width: 100%;
    }
    .fullRecipies .meal{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ingredientBox{
    width: 100%;
}

}



@media (max-width:767px){


    .container .logo{
        width: 50%;

    }

    .searchGroup{
        width: 350px;
    }

    .form-control{
        width: 350px;
        margin: 0 auto;
    }

    .describe, .dataNotFound, .dataBlank{
        width: 300px;
        font-size: 12px;
    }

    .display .displayImg{
        width: 100px;
        height: 100px;
    }

    .fullRecipies{
        flex-direction: column;
        margin-bottom: 10px;
    }

    .fullRecipies .meal{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fullRecipies .meal .mealImg{
        width: 300px;
    }

    .fullRecipies .recipiesBox{
        width: 100%;
    }

    .ingredientBox .ingredientHead{
        margin-bottom: 10px;
    }


}